[submodule "plugins/AMP-Net_TIP"]
	path = plugins/AMP-Net_TIP
	url = https://github.com/ZhonghaoZ/AMP-Net_TIP
[submodule "plugins/compressed_sensing"]
	path = plugins/compressed_sensing
	url = https://github.com/dfridovi/compressed_sensing
[submodule "plugins/CS_MoCo_LAB"]
	path = plugins/CS_MoCo_LAB
	url = https://github.com/thomaskuestner/CS_MoCo_LAB
[submodule "plugins/DAGAN"]
	path = plugins/DAGAN
	url = https://github.com/tensorlayer/DAGAN
[submodule "plugins/sparse_recovery"]
	path = plugins/sparse_recovery
	url = https://github.com/NLPrinceton/sparse_recovery
